{% extends "layouts/index.html" %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
    <div class="page-content">
        <div class="col-lg-12" id="admin-breadcrumbs">
            <a href="{{ url_for('admin.show_panel') }}">List users</a> |
            <a href="{{ url_for('admin.add_user') }}">Add user</a> |
            <a href="{{ url_for('admin.list_categories') }}">List categories</a> |
            <a href="{{ url_for('admin.add_category') }}">Add Category</a> |
            <a href="{{ url_for('admin.list_designs') }}">List Designs</a> |
            <a href="{{ url_for('admin.add_design') }}">Add Design</a>
        </div>
        {% block sub_content %}{% endblock %}
    </div>
{% endblock %}