{% extends "admin_panel/edit_user.html" %}

{% set state_userinfo = "active" %}

{% block edit_user %}
    <div class="tab-pane container edit-user-block col-lg-12">
        <h4>Edit {{ user.username }}</h4>
        <form action="" method="post" class="form-horizontal" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="col-lg-4") }}
                <div class="col-lg-5">{{ form.username(size=32, class="form-control", value=user.name) }}</div>
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.type.label(class="col-lg-4") }}
                <div class="col-lg-5" id="type">{{ form.type() }}</div>
            </div>
            <div class="form-group">
                {{ form.allow_create.label(class="col-lg-4") }}
                {{ form.allow_create(checked=user.allow_create) }}
            </div>
            <div class="form-group">
                {{ form.allow_upload.label(class="col-lg-4") }}
                {{ form.allow_upload(checked=user.allow_upload) }}
            </div>
            <div class="submit-panel">
                {{ form.submit(class="btn btn-success") }}
                <a class="btn btn-danger" href="{{ url_for("admin.show_panel") }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}

