{% extends "admin_panel/base.html" %}

{% block sub_content %}
<div class="col-lg-12">
    <h4>Category list</h4>
</div>
<div class="col-lg-12" id="organization-entries">
    <table class="table table-striped table-bordered table-hover col-lg-10 list-table">
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Created By</th>
        </tr>
        {% for category in categories %}
        {% set users = [] %}
        {% for user in category.users %}
        {{ users.append(user.name) }}
        {% endfor %}
            {% if current_user['name'] in users or current_user['name']==category.creator or current_user['type'] =='admin'%}
            <tr>
                <td class="list-buttons-column">
                    <form class="icon" method="post" action="{{ url_for('admin.delete_category', category_id=category.name) }}">
                        <a href="{{ url_for('admin.edit_category', category_id=category.name)}}">
                            <i class="fa fa-edit" title="Edit Record"></i>
                        </a>
                        {% if current_user['name']==category.creator or current_user['type']=='admin' %}
                        <button onclick="return safeConfirm('Are you sure you want to delete category {{ category.name }}?');" title="Delete Record">
                            <i class="fa fa-trash"></i>
                        </button>
                        {% endif %}
                    </form>
                </td>
                <td>{{ category.name }}</td>
                <td>{{ category.creator }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
<script language="javascript">
// Catch exception when closing dialog with <esc> key
// and prevent accidental deletions.
function safeConfirm(msg) {
    var isconfirmed = confirm(msg);

    if (isconfirmed === true) {
        return true;
    }
    else {
        return false;
    }
}
</script>
{% endblock %}